body {
    font-family: "Lexend Deca", sans-serif;
    line-height: 1.6;
    color: #333;
    min-height: 100vh;
    padding: 20px;
    align-items: center;
}

h1 {
    text-align: center;
    color:rgb(0, 0, 0);
    font-family: "Lexend Deca", sans-serif;;
}

h2 {
    text-align: center;
    color:rgb(0, 0, 0);
    font-family: "Lexend Deca", sans-serif;
}

.card {
    position: relative;
    border: 1px solid #ddd;
    border-radius: 18px;
    padding: 30px;
    margin: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 200px;
    height: 100px;
    text-align: center;
    cursor: pointer;
    font-family: "Lexend Deca", sans-serif
}

.add-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
}

input {
    width: 100%;
    max-width: 400px;
    padding: 12px 12px;
    margin: 0.5rem 0;
    border: 2px solid rgba(119, 119, 119, 0.3);
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.9);
    color: #242424;
    font-size: 1rem;
    font-family: "Lexend Deca", sans-serif;
    backdrop-filter: blur(10px);
    transition: all 0.3s ease;
    display: flex;
}

#addCardBtn {
    background: rgba(167, 167, 167, 0.3);
    margin-top: 10px;
    border: none;
    width: 200px;
    height: 50px;
    font-size: 1rem;
    font-family: "Lexend Deca", sans-serif;
    border-radius: 8px;
    padding: 12px 20px;
}

#cards {
    display: flex;
    flex-wrap: wrap;          
    justify-content: center;  
    gap: 20px;                
    margin-top: 20px;
    font-size: 1rem;
  }

.delete-button {
    position: absolute;
    bottom: 15px;
    right: 16px;
    width:  16px;
    height: 16px;
    border: none;
    border-radius: 20%;
    background-color: rgba(0, 0, 0, 0.9); 
    cursor: pointer;
}

.delete-button:hover {
    background-color: darkred;
}

.edit-button {
    position: absolute;
    bottom: 19px;
    right: 43px;
    width:  15px;
    height: 8px;
    border: none;
    border-radius: 30%;
    rotate: 120deg;
    background-color: rgba(0, 0, 0, 0.9);
    cursor: pointer;
}

.edit-button:hover {
    background-color: rgb(241, 226, 17);
}
  